<br><div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    Распределение прав (нажмите, чтобы развернуть)
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Администратор</div>
                            <div class="panel-body">
                                <dl>
                                    <dt>Жалобы</dt>
                                    <dd>Создание жалобы</dd>
                                    <dd>Изменение жалобы</dd>
                                    <dd>Рассмотрение и закрытие жалобы</dd>
                                    <dd>Архивирование жалобы</dd>
                                    <dd>Просмотр архива жалоб</dd>
                                    <dd>Удаление жалобы</dd>
                                    <dt>Отчёт</dt>
                                    <dd>Просмотр отчёта</dd>
                                    <dt>Водители</dt>
                                    <dd>Создание водителя</dd>
                                    <dd>Удаление водителя</dd>
                                    <dt>Автомобили</dt>
                                    <dd>Создание автомобиля</dd>
                                    <dd>Удаление автомобиля</dd>
                                    <dt>Пользователя</dt>
                                    <dd>Создание пользователей</dd>
                                    <dd>Удаление пользователей</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Руководитель</div>
                            <div class="panel-body">
                                <dl>
                                    <dt>Жалобы</dt>
                                    <dd>Создание жалобы</dd>
                                    <dd>Изменение жалобы</dd>
                                    <dd>Рассмотрение и закрытие жалобы</dd>
                                    <dd>Архивирование жалобы</dd>
                                    <dd>Просмотр архива жалоб</dd>
                                    <dd><strike>Удаление жалобы</strike></dd>
                                    <dt>Отчёт</dt>
                                    <dd>Просмотр отчёта</dd>
                                    <dt>Водители</dt>
                                    <dd>Создание водителя</dd>
                                    <dd><strike>Удаление водителя</strike></dd>
                                    <dt>Автомобили</dt>
                                    <dd>Создание автомобиля</dd>
                                    <dd><strike>Удаление автомобиля</strike></dd>
                                    <dt><strike>Пользователя</strike></dt>
                                    <dd><strike>Создание пользователей</strike></dd>
                                    <dd><strike>Удаление пользователей</strike></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Диспетчер</div>
                            <div class="panel-body">
                                <dl>
                                    <dt>Жалобы</dt>
                                    <dd>Создание жалобы</dd>
                                    <dd>Изменение жалобы</dd>
                                    <dd><strike>Рассмотрение и закрытие жалобы</strike></dd>
                                    <dd><strike>Архивирование жалобы</strike></dd>
                                    <dd>Просмотр архива жалоб</dd>
                                    <dd><strike>Удаление жалобы</strike></dd>
                                    <dt>Отчёт</dt>
                                    <dd>Просмотр отчёта</dd>
                                    <dt><strike>Водители</strike></dt>
                                    <dd><strike>Создание водителя</strike></dd>
                                    <dd><strike>Удаление водителя</strike></dd>
                                    <dt><strike>Автомобили</strike></dt>
                                    <dd><strike>Создание автомобиля</strike></dd>
                                    <dd><strike>Удаление автомобиля</strike></dd>
                                    <dt><strike>Пользователя</strike></dt>
                                    <dd><strike>Создание пользователей</strike></dd>
                                    <dd><strike>Удаление пользователей</strike></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>